*.kate-swp
*.log
*.report.out
*.rock
*.stats.out
*~
.*.swp
.*_cache/
.DS_Store*
.coverage
.cspellcache
.directory
.lua/
.luarocks/
.pnp.*
/.netrc
/.yarn/install-state.gz
/build/
/dist/
lua_modules/
luacov-html/
node_modules/
