*.1
*.7
*.j2
*.jsonnet
*.kate-swp
*.libsonnet
*.lock
*.log
*.lua
*.min.js
*.rockspec
*~
.*.swp
.*_cache/
.DS_Store*
.busted
.coverage
.cspellcache
.directory
.eslintignore
.lua/
.luacheckrc
.luarocks/
.pnp.*
.shellcheckrc
/.bash_profile
/.bashrc
/.claude/commands
/.gitconfig
/.gitmodules
/.idea
/.mcp.json
/.profile
/.ripgreprc
/.wiswa-ci/
/.yarn/**/*.cjs
/.yarn/install-state.gz
/.zprofile
/.zshrc
/build/
/dist/
lua_modules/
node_modules/
pylock*.toml
