---
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: leafo/gh-actions-luarocks@v4
      - name: Upload package
        run: luarocks upload --api-key=${{ secrets.LUAROCKS_API_KEY }} *.rockspec
name: Publish to LuaRocks
'on':
  push:
    tags:
      - v*
